<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender для вывода в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset> <!-- Укажите UTF-8 для корректного отображения кириллицы -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender для вывода в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>mylog.log</file>
        <encoder>
            <charset>UTF-8</charset> <!-- Укажите UTF-8 для корректного отображения кириллицы в файле -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка корневого логгера -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>